.banner__btn {
    font-weight: 900;
    padding: 17px 58px;
    background: #95459A;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 24px;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    @media screen and (max-width: 850px) {
        margin-top: 87px;
    }
}