.header {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 33px;
    margin-bottom: 33px;
    &__list {
        display: flex;
        align-items: center;
        margin-right: auto;
        column-gap: 20px;
        @media screen and (max-width: 850px) {
            display: none;
        }
        &-contact {
            display: flex;
        }
        &-link {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 17px;
            line-height: 20px;
            color: #333333;
        }
        &-link--phone {
            font-style: normal;
            font-weight: 800;
            margin-right: 28px;
            font-size: 17px;
            line-height: 20px;
            color: #95459A;
        }
        &-link--contact {
            position: absolute;
            top: 8%;
            right: -1010px;
            padding: 11px 40px;
            color: #FFFFFF;
            background: #008752;
            text-transform: uppercase;
            transition: 0.4s;
            transform: translate(-30px, 45px);
            animation: contact 10s infinite linear;
            &:hover {
                opacity: 0.7;
            }
            @media screen and (max-width: 850px) {
                display: none;
              }
        }
    }
}

@keyframes contact {
    0% {
        right: 1100px;
        rotate: (90deg);
        transform: translate(-100px, -205px);
    }
    100% {
        right: 10px;
        rotate: (180deg);
        transform: translate(-10px, -25px);
    }
}

.logo{
    transition: 0.4s;
    &:hover {
        opacity: 0.7;
}   
    &:active {
    opacity: 0.4;
}
}