.link {
    padding: 11px 40px;
    color: #FFFFFF;
    background: $link-color;
    text-transform: uppercase;
    max-width: max-content;
    @media screen and (max-width: 850px) {
        padding: 10px 18px;
        font-size: 14px;
    }
    &:hover {
        text-decoration-line: underline;
        text-decoration-color: #cc3434;
    }
    &:active {
        text-decoration-line: underline;
        text-decoration-color: #000000;
    }
}