<header class="header container">
  <a class="header__logo" href="/"
    ><img src="./img/logo.png" alt="Logo" class="logo"
  /></a>
  <ul class="header__list">
    <li class="header__list-item">
      <a class="header__list-link" href="#">Catalog</a>
    </li>
    <li class="header__list-item">
      <a class="header__list-link" href="#">Servises</a>
    </li>
    <li class="header__list-item">
      <a class="header__list-link" href="#">Blog</a>
    </li>
    <li class="header__list-item">
      <a class="header__list-link" href="#">About Us</a>
    </li>
  </ul>
  <ul class="header__list-contact">
    <li class="header__list-item">
      <a class="header__list-link--phone" href="#">719-431-9698</a>
    </li>
    <li class="header__list-item">
      <a class="header__list-link--contact" href="./contact.html">Contact us</a>
    </li>
  </ul>
</header>
